<style>
    a {
        text-decoration: none; 
        color: rgb(255, 255, 255); 
    }

    a:hover {
        color: rgb(129, 198, 238);
        text-decoration: underline;
    }
</style>
<div style="height: 60px; margin-left: 133px; margin-right: 133px; background-color: rgb(5, 82, 112);"><a href="../"><p style="text-align: center; font-size: 50px; font-family: Arial, sans-serif; margin-top: 0px; margin-bottom: 0px;">HOME</p></a>
</div>
{% load static %}
<div>
    <img src="{% static 's1.png' %}" style="height: 600px; display: block; margin-left: auto; margin-right: auto;">
</div>
<div>
    <img src="{% static 's2.png' %}" style="height: 600px; display: block; margin-left: auto; margin-right: auto;">
</div>
<div>
    <img src="{% static 's3.png' %}" style="height: 600px; display: block; margin-left: auto; margin-right: auto;">
</div>
<div>
    <img src="{% static 's4.png' %}" style="height: 600px; display: block; margin-left: auto; margin-right: auto;">
</div>
<div>
    <img src="{% static 's5.png' %}" style="height: 600px; display: block; margin-left: auto; margin-right: auto;">
</div>
<div>
    <img src="{% static 's6.png' %}" style="height: 600px; display: block; margin-left: auto; margin-right: auto;">
</div>
<div>
    <img src="{% static 's7.png' %}" style="height: 600px; display: block; margin-left: auto; margin-right: auto;">
</div>
<div>
    <img src="{% static 's8.png' %}" style="height: 600px; display: block; margin-left: auto; margin-right: auto;">
</div>
<div>
    <img src="{% static 's9.png' %}" style="height: 600px; display: block; margin-left: auto; margin-right: auto;">
</div>
<div>
    <img src="{% static 's10.png' %}" style="height: 600px; display: block; margin-left: auto; margin-right: auto;">
</div>
<div style="height: 60px; margin-left: 133px; margin-right: 133px; background-color: rgb(5, 82, 112);"><a href="../"><p style="text-align: center; font-size: 50px; font-family: Arial, sans-serif; margin-top: 0px; margin-bottom: 0px;">HOME</p></a>
</div>
