<!DOCTYPE html>
<html lang="en">
<title>Project InTeleGent</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>


<!-- Nav bar -->
<div class="w3-bar w3-black">
    <a href="#" class="w3-bar-item w3-button">Statistics</a>
    <a href="#" class="w3-bar-item w3-button">Inbox</a>
    <a href="#" class="w3-bar-item w3-button">Patient Dashboard</a>
    <a href="#" class="w3-bar-item w3-button">Appointments</a>
    <a href="#" class="w3-bar-item w3-button">Settings</a>
    <a href="#" class="w3-bar-item w3-button">Logout</a>
</div>


<!-- Dashboard -->
<div class="w3-container w3-green" >
    
    <div class="w3-row">
        <!-- Patient 1-->
        <div class="w3-col m3 l3 w3-padding" >
            <div class="w3-card-4 w3-white">
                <img src="https://media.gettyimages.com/photos/-picture-id808144682?s=612x612" alt="Alps" style="width:400px;">


                <div class="w3-container">
                  <h3>Patient Name</h4>
                  <h4>Some short info</h4>
                  
                </div>

                <!-- Extra info on patient -->
                <div class="w3-opacity w3-padding">Last message 5 mins ago</div>
                <div class="w3-container w3-border-bottom">Last message content</div>
                <div class="w3-container w3-border-bottom">Recent Info 1</div>
                <div class="w3-container w3-border-bottom">Recent Info 2</div>
                
                <!-- Buttons -->
                <div class="w3-cell-row w3-padding">
                    <div class="w3-button w3-cell" style="color: rgb(0, 153, 255);">Chat</div>
                    <div class="w3-button w3-cell" style="color: rgb(0, 153, 255);">History</div>
                </div>
            </div>
        </div>


        <!-- History and medical records -->
        <div class="w3-rest w3-padding " >
            <div class="w3-card w3-dark-grey">
            
                <div class="w3-container w3-padding-32 w3-white" style="height:1000px;">
                    <div class="w3-container w3-large">
                        <!-- Google calendar appointments -->
                        <div class="w3-container">

                            <!-- top display container-->
                            <div class="w3-display-container w3-padding-64">
                                <!-- Logo -->
                                <div class="w3-display-left w3-padding-large">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Google_Calendar_icon_%282020%29.svg/1024px-Google_Calendar_icon_%282020%29.svg.png" style="width:70px;">
                                </div>

                                <!-- Patient number -->
                                <div class="w3-display-right w3-padding-large">
                                    <h2>Patient Code: aAAsZ</h2>
                                </div>

                            </div>

                            <!-- booked appointments -->
                            <div  class="w3-container w3-padding">
                                <!-- header -->
                                <div class="w3-round-large">
                                    <div class="w3-blue w3-container w3-padding">
                                        <h2 stle="color: white;">Booked Appointments</h2>
                                    </div>
                                    
                                </div>

                                <!-- List of appointments -->
                                <!-- Change column distribution incase it warps to much-->
                                <!-- Appointment 1 -->
                                <div class="w3-row-padding w3-border">
                                    <div class="w3-col l8"><p>March XX, 20XX</p></div>
                                    <div class="w3-col l2"><p>3 days ago</p></div>
                                    <div class="w3-col l2"><p>Cancel</p></div>
                                </div>
                                <!-- Appointment 2 -->
                                <div class="w3-row-padding w3-border">
                                    <div class="w3-col l8"><p>May XX, 20XX</p></div>
                                    <div class="w3-col l2"><p>3 days ago</p></div>
                                    <div class="w3-col l2"><p>Cancel</p></div>
                                </div>
                                
                            </div>

                            <!-- Book new appointment button -->
                            <div class="w3-container w3-padding">
                                <div class="w3-button w3-blue w3-round-large">
                                    <h3 style="Color:white;">Book appointment</h3>
                                </div>
                            </div>
                            
                        </div>

                        <!-- Other records -->
                        <div class="w3-container">
                            <!-- Recent notes -->
                            <div class="w3-container w3-padding">
                                <div class="w3-container w3-dark-grey">
                                    <h3>Recent Notes</h3>
                                </div>
                                <div class="w3-container w3-blue-grey">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam commodo ex nec nulla eleifend, nec blandit nulla cursus. In in ultricies eros, 
                                        eget scelerisque ligula. Fusce id purus in lectus tincidunt mollis id id lacus. Donec maximus in risus nec imperdiet. Donec dui nisi, commodo
                                         quis vestibulum facilisis, imperdiet tempor lectus. Ut porta sapien dolor, ut cursus lacus fermentum a. Phasellus a felis at augue semper rhoncus.
                                          Sed tincidunt tristique egestas. Pellentesque molestie egestas finibus. 
                                        Etiam bibendum consequat ex ac porta. Fusce tristique venenatis lacus, id rhoncus orci iaculis at.
                                        Fusce id orci eu neque porta cursus ut ac justo. Aliquam</p>
                                </div>
                            </div>

                            <!-- Medical records -->
                            <div class="w3-container w3-padding">
                                <div class="w3-container w3-dark-grey">
                                    <h3>Medical records</h3>
                                </div>
                                <div class="w3-container w3-blue-grey">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam commodo ex nec nulla eleifend, nec blandit nulla cursus. In in ultricies eros, 
                                        eget scelerisque ligula. Fusce id purus in lectus tincidunt mollis id id lacus..</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
      


    </div>

    

    
</div>

</body>


<!-- Footer -->
<footer class="w3-container">
</footer>

<style>
    .w3-card-4{
        max-width: 400px;
        max-height: 1000px;
    }
</style>

</body>
</html>
