<!DOCTYPE html>
<html lang="en">
<title>Project InTeleGent</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href='https://fonts.googleapis.com/css?family=Encode Sans SC' rel='stylesheet'>

<body>


<!-- Nav bar -->
<div class="w3-bar w3-teal w3-card-2" style="margin-bottom: 20px;">
    <a href="{% url 'dashboard' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue">
        {% load static %}
        <img src="{% static 'images/home.png' %}" style="height: 20px; width: auto;" alt="Home">
    </a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue w3-hover-text-white" style="font-family: 'Encode Sans SC'; font-weight: bold;">STATISTICS</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue w3-hover-text-white" style="font-family: 'Encode Sans SC'; font-weight: bold;"><span>INBOX</span><span class="w3-round-xxlarge w3-white w3-text-teal" style="margin-left: 4px; padding-left: 4px; padding-right: 4px;">12</span></a></a>
    <a href="{% url 'dashboard' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue w3-hover-text-white" style="font-family: 'Encode Sans SC'; font-weight: bold;"><span>PATIENT DASHBOARD</span><span class="w3-round-xxlarge w3-white w3-text-teal" style="margin-left: 4px; padding-left: 4px; padding-right: 4px;">4</span></a>
    <a href="{% url 'appointments' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue w3-hover-text-white" style="font-family: 'Encode Sans SC'; font-weight: bold;">APPOINTMENTS</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue w3-hover-text-white" style="font-family: 'Encode Sans SC'; font-weight: bold;">SETTINGS</a>
    <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue w3-hover-text-white w3-right" style="font-family: 'Encode Sans SC'; font-weight: bold;">LOGOUT</a>
</div>

<!-- Embedded google calendar -->
<div class="w3-container w3-white" >
    <div class="w3-container w3-padding">
        <div class="w3-center">
            <iframe src="https://calendar.google.com/calendar/embed?src=r8u4l931vdhak4am51k53tjfjs%40group.calendar.google.com&ctz=Asia%2FManila" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>

</body>


<!-- Footer -->
<footer class="w3-container w3-dark-gray" style="margin-top: 40px;">
    <div class="w3-center">
        <div>
            <span style="margin-left: 10px;"><a href="#" style="text-decoration: none;">Terms of Service</a></span>
            <span style="margin-left: 10px;"><a href="#" style="text-decoration: none;">Cookies</a></span>
            <span style="margin-left: 10px;"><a href="about" style="text-decoration: none;">About Us</a></span>
            <span style="margin-left: 10px;"><a href="#" style="text-decoration: none;">Contact Us</a></span>
        </div>
        <div>
            <span style="margin-left: 10px; font-size:x-small"><a href="https://thispersondoesnotexist.com/">Images generated via GAN - thispersondoesnotexist.com</a></span>
        </div>
    </div>
</footer>

<style>
    .w3-card-4{
        max-width: 400px;
        max-height: 1000px;
    }
</style>

</body>
</html>
