<!DOCTYPE html>
<html lang="en">
<title>Project InTeleGent</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href='https://fonts.googleapis.com/css?family=Encode Sans SC' rel='stylesheet'>

<body>


<!-- Nav bar -->
<div class="w3-bar w3-teal w3-card-2" style="margin-bottom: 20px;">
    <a href="{% url 'dashboard' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue">
        {% load static %}
        <img src="{% static 'images/home.png' %}" style="height: 20px; width: auto;" alt="Home">
    </a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue w3-hover-text-white" style="font-family: 'Encode Sans SC'; font-weight: bold;">STATISTICS</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue w3-hover-text-white" style="font-family: 'Encode Sans SC'; font-weight: bold;"><span>INBOX</span><span class="w3-round-xxlarge w3-white w3-text-teal" style="margin-left: 4px; padding-left: 4px; padding-right: 4px;">12</span></a></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue w3-hover-text-white" style="font-family: 'Encode Sans SC'; font-weight: bold;"><span>PATIENT DASHBOARD</span><span class="w3-round-xxlarge w3-white w3-text-teal" style="margin-left: 4px; padding-left: 4px; padding-right: 4px;">4</span></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue w3-hover-text-white" style="font-family: 'Encode Sans SC'; font-weight: bold;">APPOINTMENTS</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue w3-hover-text-white" style="font-family: 'Encode Sans SC'; font-weight: bold;">SETTINGS</a>
    <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue w3-hover-text-white w3-right" style="font-family: 'Encode Sans SC'; font-weight: bold;">LOGOUT</a>
</div>

<div class="w3-border-bottom w3-text-teal" style="margin-left: 32px; margin-right: 32px; padding-bottom: 10px; margin-bottom: 20px;"> 
    <span class="w3-padding" style="opacity: 70%;"><a href="{% url 'chat' %}" style="text-decoration: none;">✉ Chat</a></span>
    <span class="w3-padding" style="border-bottom: 4px solid teal;">▦ Records</span>
    <span class="w3-padding" style="float: right; margin-top: -8px;">Patient Code: aAAsZ</span>
</div>
<!-- Dashboard -->
<div class="w3-container w3-white" >
    
    <div class="w3-row">
        <!-- Patient 1-->
        <div class="w3-col m3 l3 w3-padding" >
            <div class="w3-card-4 w3-white w3-border w3-border-teal w3-round-large" style="overflow: hidden; padding-bottom: 20px;">
                {% load static %}
                <img src="{% static 'images/p3.jpg' %}" alt="Patient" style="width:100%;">


                <div class="w3-container" style="margin-bottom: 20px">
                  <h3 style="font-weight: 600; margin-bottom: -10px; color: rgb(82, 82, 82)">Dale Saiden Capulong</h4>
                  <h4 style="font-size: 15px; color: rgb(48, 48, 48);">Quezon City, Metro Manila | MDD</h4>
                  
                </div>

                <!-- Extra info on patient -->
                <div class="w3-container w3-border-bottom w3-hover-text-aqua w3-text-teal" style="margin-left: 10px; margin-right: 10px">Files <span style="float: right; margin-right: 40px;">▼</span></div>
                <div class="w3-container w3-border-bottom w3-hover-text-aqua w3-text-teal" style="margin-left: 10px; margin-right: 10px">Notes <span style="float: right; margin-right: 40px;">▼</span></div>
                <div class="w3-container w3-border-bottom w3-hover-text-aqua w3-text-teal" style="margin-left: 10px; margin-right: 10px">Schedule Message <span style="float: right; margin-right: 40px;">▼</span></div>
                
            </div>
        </div>


        <!-- History and medical records -->
        <div class="w3-rest w3-padding " >
            <div class="w3-card w3-dark-grey w3-border w3-border-teal w3-round-large">
            
                <div class="w3-container w3-padding-32 w3-white w3-border w3-border-teal w3-round-large" style="height:1000px;">
                    <div class="w3-container w3-large">
                        <!-- Google calendar appointments -->
                        <div class="w3-container">

                            <!-- top display container-->
                            <div class="w3-display-container w3-padding-64" style="margin-bottom: -20px; margin-top: -40px; margin-left: -8px;">
                                <!-- Logo -->
                                <div class="w3-display-left w3-padding-large">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Google_Calendar_icon_%282020%29.svg/1024px-Google_Calendar_icon_%282020%29.svg.png" style="width:70px;">
                                </div>

                            </div>

                            <!-- booked appointments -->
                            <div  class="w3-container w3-padding w3-round-large" style="overflow: hidden;">
                                <!-- header -->
                                <div class="w3-round-large">
                                    <div class="w3-blue w3-container w3-padding">
                                        <h2 stle="color: white;">Booked Appointments</h2>
                                    </div>
                                    
                                </div>

                                <!-- List of appointments -->
                                <!-- Change column distribution incase it warps to much-->
                                <!-- Appointment 1 -->
                                <div class="w3-row-padding w3-border">
                                    <div class="w3-col l8"><p>February 17, 2022</p></div>
                                    <div class="w3-col l2"><p>3 weeks ago</p></div>
                                    <div class="w3-col l2"><p class="w3-text-red" style="margin-left: 20px;">Cancel</p></div>
                                </div>
                                <!-- Appointment 2 -->
                                <div class="w3-row-padding w3-border">
                                    <div class="w3-col l8"><p>May 15, 2022</p></div>
                                    <div class="w3-col l2"><p>2 days ago</p></div>
                                    <div class="w3-col l2"><p class="w3-text-red" style="margin-left: 20px;">Cancel</p></div>
                                </div>
                                
                            </div>

                            <!-- Book new appointment button -->
                            <div class="w3-container w3-padding" style="float: right;">
                                <div class="w3-button w3-blue w3-round-large">
                                    <h3 style="Color:white;">Book appointment</h3>
                                </div>
                            </div>
                            
                        </div>

                        <hr style="margin-bottom: 20px; height:2px; border-width:0; color:#009688; background-color: #009688; opacity: 50%;">

                        <!-- Other records -->
                        <div class="w3-container">
                            <!-- Recent notes -->
                            <div class="w3-container w3-padding">
                                <div class="w3-container w3-teal">
                                    <h3>Recent Notes<span style="float: right">✎</span></h3>
                                </div>
                                <div class="w3-container" style="background-color: #009e8e7a;">
                                    <p>
                                        <b>PSYCHIATRIC HISTORY: </b>The patient has never been hospitalized for psychiatric purposes. His only treatment has been at this facility. He tried Adderall for a time, and it helped, but he became hypertensive. Lunesta is effective for his insomnia issues. <br>
                                        <b>SUBSTANCE ABUSE HISTORY:</b><br>Caffeine: Two or three cups of coffee per day, and soda at lunch time.<br>
                                        Tobacco: Denied.<br>
                                        Alcohol: One glass of wine per week.<br>
                                        Illicit drugs: None at present. 
                                    </p>
                                </div>
                            </div>

                            <!-- Medical records -->
                            <div class="w3-container w3-padding">
                                <div class="w3-container w3-teal">
                                    <h3>Medical records<span style="float: right">✎</span></h3>
                                </div>
                                <div class="w3-container" style="background-color: #009e8e7a;">
                                    <table class="w3-table">
                                        <tr>
                                            <td><b>Sex: </b>Male</td>
                                            <td><b>Age: </b>27</td>
                                        </tr>
                                        <tr>
                                            <td><b>Height: </b>174cm</td>
                                            <td><b>Weight: </b>72kg<br></td>
                                        </tr>
                                        <tr>
                                            <td><b>Blood Type: </b>A+</td>
                                            <td><b>Philhealth: </b>0107-2553-6644</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
      


    </div>

    

    
</div>

</body>


<!-- Footer -->
<footer class="w3-container w3-dark-gray" style="margin-top: 40px;">
    <div class="w3-center">
        <div>
            <span style="margin-left: 10px;"><a href="#" style="text-decoration: none;">Terms of Service</a></span>
            <span style="margin-left: 10px;"><a href="#" style="text-decoration: none;">Cookies</a></span>
            <span style="margin-left: 10px;"><a href="{% url 'about' %}" style="text-decoration: none;">About Us</a></span>
            <span style="margin-left: 10px;"><a href="#" style="text-decoration: none;">Contact Us</a></span>
        </div>
        <div>
            <span style="margin-left: 10px; font-size:x-small"><a href="https://thispersondoesnotexist.com/">Images generated via GAN - thispersondoesnotexist.com</a></span>
        </div>
    </div>
</footer>

<style>
    .w3-card-4{
        max-width: 400px;
        max-height: 1000px;
    }
</style>

</body>
</html>
