<!DOCTYPE html>
<html lang="en">
<title>Project InTeleGent</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href='https://fonts.googleapis.com/css?family=Encode Sans SC' rel='stylesheet'>

<body>


<!-- Nav bar -->
<div class="w3-bar w3-teal w3-card-2" style="margin-bottom: 20px;">
    <a href="{% url 'dashboard' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue">
        {% load static %}
        <img src="{% static 'images/home.png' %}" style="height: 20px; width: auto;" alt="Home">
    </a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue w3-hover-text-white" style="font-family: 'Encode Sans SC'; font-weight: bold;">STATISTICS</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue w3-hover-text-white" style="font-family: 'Encode Sans SC'; font-weight: bold;"><span>INBOX</span><span class="w3-round-xxlarge w3-white w3-text-teal" style="margin-left: 4px; padding-left: 4px; padding-right: 4px;">13</span></a></a>
    <a href="{% url 'dashboard' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue w3-hover-text-white" style="font-family: 'Encode Sans SC'; font-weight: bold;"><span>PATIENT DASHBOARD</span><span class="w3-round-xxlarge w3-white w3-text-teal" style="margin-left: 4px; padding-left: 4px; padding-right: 4px;">5</span></a>
    <a href="{% url 'appointments' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue w3-hover-text-white" style="font-family: 'Encode Sans SC'; font-weight: bold;">APPOINTMENTS</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue w3-hover-text-white" style="font-family: 'Encode Sans SC'; font-weight: bold;">SETTINGS</a>
    <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue w3-hover-text-white w3-right" style="font-family: 'Encode Sans SC'; font-weight: bold;">LOGOUT</a>
</div>

<div style="margin-bottom: 40px; font-size: large;">
    <span class="w3-card-2 w3-border w3-border-white w3-teal w3-round-medium w3-text-white" style="margin-left: 32px; padding-left: 2px; padding-right: 2px;">Dr</span>
    <span class="w3-text-teal" style="font-family: 'Encode Sans SC';">Juan Dela Cruz</span><span style="color:#b4b4b4">|</span><span style="font-family: 'Encode Sans SC'; color: teal; font-weight: bold;">Dashboard</span>
</div>


<!-- Dashboard -->
<div class="w3-container w3-white" >
    <!-- Label -->
    <div>
        <span class=" w3-button w3-card-2 w3-border w3-border-teal w3-text-teal w3-round-medium w3-padding-small" style=" margin-left: 17px;" onclick="hide_whis()">
            Patients with History ▲
        </span>
        <span class="w3-round-xxlarge w3-lime w3-text-white" style="font-size: 20px; margin-left: 4px; padding-left: 4px; padding-right: 4px;">2</span>
   
    </div>

    <hr style="margin-top: 10px; margin-bottom: 10px; border-width: 2px; color: #009688; background-color: #009688; border-color: #009688; opacity: 70%;">

    <!-- Container for Patients with history-->
    <div id="div_whis" class="w3-row" style="margin-bottom: 30px; display: none;">
        <!-- Patient 1-->
        <div class="w3-col m3 l3 w3-padding" >

            <!-- Ungrown Patient card -->
            <div id="div_pat0" class="w3-card-4 w3-white w3-border w3-border-teal w3-round-medium" style="display: block;" onclick="grow_onhover()">
                {% load static %}
                <img src="{% static 'images/p3.jpg' %}" alt="Patient" style="width:100%;">

                <!-- Minimal information -->
                <div class="w3-container">
                    <div class="w3-container">
                        <h4 style="margin-bottom: -10px;">Dale Capulong</h4>
                        <hr style="margin-bottom: -10px; height:2px;border-width:0;color:#b4b4b4;background-color: #b4b4b4">
                        <p>Quezon City, NCR | MDD</p>
                    </div>
                </div>
                
            </div>

            <!-- Full grown Patient card -->
            <div id="div_pat1" class="w3-card-4 w3-white w3-border w3-border-teal w3-round-medium" style="display: none;" onclick="grow_onhover()">
                {% load static %}
                <img src="{% static 'images/p3.jpg' %}" alt="Patient" style="width:100%;">

                <!-- Minimal information -->
                <div class="w3-container">
                  <h3 style="margin-bottom: -10px;">Dale Saiden Capulong</h3>
                    <hr style="margin-bottom: -10px; height:2px;border-width:0;color:#b4b4b4;background-color: #b4b4b4">
                  <h4>Quezon City, Metro Manila | MDD</h4>
                  
                </div>

                <!-- Extra info on patient -->
                <div class="w3-opacity w3-padding">Last message 5 mins ago</div>
                <div class="w3-container w3-border-bottom">Take care 😊</div>
                <div class="w3-container w3-border-bottom">Switched to SSRI</div>
                <div class="w3-container w3-border-bottom">Follow-up on Feb 17</div>
                
                <!-- Buttons -->
                <div class="w3-cell-row w3-padding">
                    <a href="{% url 'chat' %}" class="w3-button w3-cell w3-hover-text-teal" style="color: rgb(0, 153, 255);">Chat</a>
                    <a href="{% url 'records' %}" class="w3-button w3-cell w3-hover-text-teal" style="color: rgb(0, 153, 255);">History</a>
                </div>
            </div>
        </div>


        <!-- Patient 2-->
        <div class="w3-col m3 l3 w3-padding" >
            <div class="w3-card-4 w3-white w3-border w3-border-teal w3-round-medium">
                {% load static %}
                <img src="{% static 'images/p1.jpg' %}" alt="Alps" style="width:100%;">
                <div class="w3-container">
                    <div class="w3-container">
                        <h4 style="margin-bottom: -10px;">Frankie Padilla</h4>
                        <hr style="margin-bottom: -10px; height:2px;border-width:0;color:#b4b4b4;background-color: #b4b4b4">
                        <p>Iloilo City, Iloilo | Bipolar</p>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- Label2 -->
    <div>
        <span class="w3-button w3-card-2 w3-border w3-border-teal w3-text-teal w3-round-medium w3-padding-small" style="margin-left: 17px;" onclick="hide_wohis()">
            Patients without History ▲
        </span>
        <span class="w3-round-xxlarge w3-light-green w3-text-white" style="font-size: 20px; margin-left: 4px; padding-left: 4px; padding-right: 4px;">3</span>
    </div>

    <hr style="margin-top: 10px; margin-bottom: 10px; border-width: 2px; color: #009688; background-color: #009688; border-color: #009688; opacity: 70%;">

    <!-- Container for Patients without history-->
    <div id="div_wohis" class="w3-row" style="margin-bottom: 30px; display: none;">
         <!-- Patient 3-->
        <div class="w3-col m3 l3 w3-padding" >
            <div class="w3-card-4 w3-white w3-border w3-border-teal w3-round-medium">
                {% load static %}
                <img src="{% static 'images/p2.jpg' %}" alt="Alps" style="width:100%;">
                <div class="w3-container">
                    <h4 style="margin-bottom: -10px;">Makayla Dipatuan</h4>
                    <hr style="margin-bottom: -10px; height:2px;border-width:0;color:#b4b4b4;background-color: #b4b4b4">
                    <p class="w3-blue w3-round w3-center" style="width: 120px;">Consultation</p>
                </div>
            </div>
        </div>

        <!-- Patient 4-->
        <div class="w3-col m3 l3 w3-padding" >
            <div class="w3-card-4 w3-border w3-border-teal w3-round-medium w3-white">
                {% load static %}
                <img src="{% static 'images/p4.jpg' %}" alt="Alps" style="width:100%;" class="w3-round-medium">
                <div class="w3-container">
                    <h4 style="margin-bottom: -10px;">Jon Elijah Amadeo</h4>
                    <hr style="margin-bottom: -10px; height:2px;border-width:0;color:#b4b4b4;background-color: #b4b4b4">
                    <p class="w3-blue w3-round w3-center" style="width: 120px;">Consultation</p>
                </div>
            </div>
        </div>
      
        <!-- Patient 5-->
        <div class="w3-col m3 l3 w3-padding" >
            <div class="w3-card-4 w3-white w3-border w3-border-teal w3-round-medium">
                {% load static %}
                <img src="{% static 'images/p5.jpg' %}" alt="Alps" style="width:100%;">
                <div class="w3-container ">
                  <h4 style="margin-bottom: -10px;">Marlene Alexia Masangkay</h4>
                  <hr style="margin-bottom: -10px; height:2px;border-width:0;color:#b4b4b4;background-color: #b4b4b4">
                  <p class="w3-green w3-round w3-center" style="width: 120px;">Inquiry</p>
                </div>
            </div>
        </div>

    </div>
    

    
</div>

</body>
<script>
    // Function to hide div of patients with history
    function hide_whis() {
        var x = document.getElementById("div_whis");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    // Function to hide div of patients without history
    function hide_wohis() {
        var x = document.getElementById("div_wohis");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    // Function to change patient card on hover
    function grow_onhover() {
        var x = document.getElementById("div_pat0");
        var y = document.getElementById("div_pat1");

        if (x.style.display === "block" && y.style.display === "none") {
            x.style.display = "none";
            y.style.display = "block";
        } else {
            x.style.display = "block";
            y.style.display = "none";
        }

        console.log("Hello world!");
    }

</script>

<!-- Footer -->
<footer class="w3-container w3-dark-gray">
    <div class="w3-center">
        <div>
            <span style="margin-left: 10px;"><a href="#" style="text-decoration: none;">Terms of Service</a></span>
            <span style="margin-left: 10px;"><a href="#" style="text-decoration: none;">Cookies</a></span>
            <span style="margin-left: 10px;"><a href="{% url 'about' %}" style="text-decoration: none;">About Us</a></span>
            <span style="margin-left: 10px;"><a href="#" style="text-decoration: none;">Contact Us</a></span>
        </div>
        <div>
            <span style="margin-left: 10px; font-size:x-small"><a href="https://thispersondoesnotexist.com/">Images generated via GAN - thispersondoesnotexist.com</a></span>
        </div>
    </div>
</footer>
<style>
    .w3-card-4{
        max-width: 400px;
    }
</style>

</body>
</html>
