<!DOCTYPE html>
<html lang="en">
<title>Project InTeleGent</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>


<!-- Nav bar -->
<div class="w3-bar w3-black">
    <a href="#" class="w3-bar-item w3-button">Statistics</a>
    <a href="#" class="w3-bar-item w3-button">Inbox</a>
    <a href="#" class="w3-bar-item w3-button">Patient Dashboard</a>
    <a href="#" class="w3-bar-item w3-button">Appointments</a>
    <a href="#" class="w3-bar-item w3-button">Settings</a>
    <a href="#" class="w3-bar-item w3-button">Logout</a>
</div>


<!-- Dashboard -->
<div class="w3-container w3-green" >
    
    <div class="w3-row">
        <!-- Patient 1-->
        <div class="w3-col m3 l3 w3-padding" >
            <div class="w3-card-4 w3-white">
                <img src="https://media.gettyimages.com/photos/-picture-id808144682?s=612x612" alt="Alps" style="width:400px;">


                <div class="w3-container">
                  <h3>Patient Name</h4>
                  <h4>Some short info</h4>
                  
                </div>

                <!-- Extra info on patient -->
                <div class="w3-opacity w3-padding">Last message 5 mins ago</div>
                <div class="w3-container w3-border-bottom">Last message content</div>
                <div class="w3-container w3-border-bottom">Recent Info 1</div>
                <div class="w3-container w3-border-bottom">Recent Info 2</div>
                
                <!-- Buttons -->
                <div class="w3-cell-row w3-padding">
                    <div class="w3-button w3-cell" style="color: rgb(0, 153, 255);">Chat</div>
                    <div class="w3-button w3-cell" style="color: rgb(0, 153, 255);">History</div>
                </div>
            </div>
        </div>


        <!-- Chat box-->
        <div class="w3-rest w3-padding " >
            <div class="w3-card w3-dark-grey">
            
                <div class="w3-container w3-padding-32 w3-center w3-white" style="height:1000px;">
                    test
                </div>
            </div>
        </div>
      


    </div>

    

    
</div>

</body>


<!-- Footer -->
<footer class="w3-container">
</footer>

<style>
    .w3-card-4{
        max-width: 400px;
        max-height: 1000px;
    }
</style>

</body>
</html>
