<!DOCTYPE html>
<html lang="en">
<title>Project InTeleGent</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href='https://fonts.googleapis.com/css?family=Encode Sans SC' rel='stylesheet'>

<body>


<!-- Nav bar -->
<div class="w3-bar w3-teal w3-card-2">
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue"><img src="images/home.png" style="height: 20px; width: auto;" alt="Home"></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue w3-hover-text-white" style="font-family: 'Encode Sans SC'; font-weight: bold;">STATISTICS</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue w3-hover-text-white" style="font-family: 'Encode Sans SC'; font-weight: bold;"><span>INBOX</span><span class="w3-round-xxlarge w3-white w3-text-teal" style="margin-left: 4px; padding-left: 4px; padding-right: 4px;">13</span></a></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue w3-hover-text-white" style="font-family: 'Encode Sans SC'; font-weight: bold;"><span>PATIENT DASHBOARD</span><span class="w3-round-xxlarge w3-white w3-text-teal" style="margin-left: 4px; padding-left: 4px; padding-right: 4px;">4</span></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue w3-hover-text-white" style="font-family: 'Encode Sans SC'; font-weight: bold;">APPOINTMENTS</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue w3-hover-text-white" style="font-family: 'Encode Sans SC'; font-weight: bold;">SETTINGS</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-light-blue w3-hover-text-white w3-right" style="font-family: 'Encode Sans SC'; font-weight: bold;">LOGOUT</a>
</div>


<!-- Dashboard -->
<div class="w3-container w3-white" >
    <!-- Label -->
    <div class="w3-row w3-text-teal">
        Patients with history
    </div>

    

    <!-- Container for Patients without history-->
    <div class="w3-row">
        <!-- Patient 1-->
        <div class="w3-col m3 l3 w3-padding" >
            <div class="w3-card-4 w3-white">
                <img src="https://media.gettyimages.com/photos/-picture-id808144682?s=612x612" alt="Alps" style="width:100%;">


                <div class="w3-container">
                  <h3>Patient Name</h4>
                  <h4>Some short info</h4>
                  
                </div>

                <!-- Extra info on patient -->
                <div class="w3-opacity w3-padding">Last message 5 mins ago</div>
                <div class="w3-container w3-border-bottom">Last message content</div>
                <div class="w3-container w3-border-bottom">Recent Info 1</div>
                <div class="w3-container w3-border-bottom">Recent Info 2</div>
                
                <!-- Buttons -->
                <div class="w3-cell-row w3-padding">
                    <div class="w3-button w3-cell w3-hover-text-teal" style="color: rgb(0, 153, 255);">Chat</div>
                    <div class="w3-button w3-cell w3-hover-text-teal" style="color: rgb(0, 153, 255);">History</div>
                </div>
            </div>
        </div>


        <!-- Patient 2-->
        <div class="w3-col m3 l3 w3-padding" >
            <div class="w3-card-4 w3-white">
                <img src="https://media.gettyimages.com/photos/-picture-id808144682?s=612x612" alt="Alps" style="width:100%;">
                <div class="w3-container">
                    <div class="w3-container">
                        <h4>Patient Name</h4>
                        <p>Some info</p>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- Label2 -->
    <div class="w3-row w3-text-teal">
        Patients Without history
    </div>

    <!-- Container for Patients without history-->
    <div class="w3-row">
         <!-- Patient 3-->
        <div class="w3-col m3 l3 w3-padding" >
            <div class="w3-card-4 w3-white">
                <img src="https://media.gettyimages.com/photos/-picture-id808144682?s=612x612" alt="Alps" style="width:100%;">
                <div class="w3-container">
                    <h4>Name</h4>
                    <p>Chat category</p>
                </div>
            </div>
        </div>

        <!-- Patient 4-->
        <div class="w3-col m3 l3 w3-padding" >
            <div class="w3-card-4 w3-white">
                <img src="https://media.gettyimages.com/photos/-picture-id808144682?s=612x612" alt="Alps" style="width:100%;">
                <div class="w3-container">
                    <h4>Name</h4>
                    <p>Chat category</p>
                </div>
            </div>
        </div>
      
        <!-- Patient 5-->
        <div class="w3-col m3 l3 w3-padding" >
            <div class="w3-card-4 w3-white">
                <img src="https://media.gettyimages.com/photos/-picture-id808144682?s=612x612" alt="Alps" style="width:100%;">
                <div class="w3-container ">
                  <h4>Name</h4>
                  <p>Chat category</p>
                </div>
            </div>
        </div>

    </div>
    

    
</div>

</body>


<!-- Footer -->
<footer class="w3-container w3-dark-gray">
    <div class="w3-center">
        <div>
            <span style="margin-left: 10px;"><a href="#" style="text-decoration: none;">Terms of Service</a></span>
            <span style="margin-left: 10px;"><a href="#" style="text-decoration: none;">Cookies</a></span>
            <span style="margin-left: 10px;"><a href="about" style="text-decoration: none;">About Us</a></span>
            <span style="margin-left: 10px;"><a href="#" style="text-decoration: none;">Contact Us</a></span>
        </div>
        <div>
            <span style="margin-left: 10px; font-size:x-small"><a href="https://www.freepik.com/vectors/medical">Logo vector created by redgreystock - www.freepik.com</a></span>
        </div>
    </div>
</footer>
<style>
    .w3-card-4{
        max-width: 400px;
    }
</style>

</body>
</html>
